.jumbotron{
    background-color: rgb(9, 50, 69);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    color: white;
}
.jumbotron image{
    width: 300px;
}
.bg-custom{
    background-color: rgb(9, 50, 69) ;
}
.nav-link, .navbar-brand{
    color: white;
}
.navbar-text a{
    color: white;
}